.movie-list{
    margin: 20px 0px;
    
}

h2{
    color: #1a242f;
    margin: 10px;
    font-weight: 400;
}

.movie-container{
    display:grid;
    grid-template-columns: repeat(auto-fill ,minmax (220px));
    grid-gap:15px;
}
